*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
#pic{
    height: 500px;
    width: 500px;
}

/* <header> */
header{
    width: 100%;
    height: 15vh;
    background-color: orange;
}
.navbar{
    padding: 20px;
    margin-left: 50px;
    float: left;
    word-spacing: 20px;
    margin-top: 30px;
}
.search{
    word-spacing: 0px;
    float: right;
    margin-left: 900px;
    margin-top: -8px;
}
.barbtn{
    border: 1px solid;
    margin-left: -6px;
    padding: 5px;
}
.bar{
    border: 1px solid;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5px;
}
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar a:hover{
    color: rgb(255, 204, 109);
}

/* <containers> */

.container{
    display: inline-flex;
}
.container2{
    display: inline-flex;
}
.container3{
    display: inline-flex;
}
.container4{
    display: inline-flex;
}
.content1{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content2{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content3{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content4{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content5{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content6{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content7{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content8{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content9{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content10{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content11{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content12{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content13{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content14{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content15{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content16{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content17{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content18{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content19{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content20{
    border: none;
    width: 200px;
    height: 200px;
    background: url(images/test.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box1{
    padding: 20px;
}
.box2{
    padding: 20px;
}
.box3{
    padding: 20px;
}
.box4{
    padding: 20px;
}
.box5{
    padding: 20px;
}
.box6{
    padding: 20px;
}
.box7{
    padding: 20px;
}
.box8{
    padding: 20px;
}
.box9{
    padding: 20px;
}
.box10{
    padding: 20px;
}
.box11{
    padding: 20px;
}
.box12{
    padding: 20px;
}
.box13{
    padding: 20px;
}
.box14{
    padding: 20px;
}
.box15{
    padding: 20px;
}
.box16{
    padding: 20px;
}
.box17{
    padding: 20px;
}
.box18{
    padding: 20px;
}
.box19{
    padding: 20px;
}
.box20{
    padding: 20px;
}
.details1{
    height: 40vh;
    background-color: white;
}
.details2{
    height: 40vh;
    background-color: white;
}
.details3{
    height: 40vh;
    background-color: white;
}
.details4{
    height: 40vh;
    background-color: white;
}
.details5{
    height: 40vh;
    background-color: white;
}
.details6{
    height: 40vh;
    background-color: white;
}
.details7{
    height: 40vh;
    background-color: white;
}
.details8{
    height: 40vh;
    background-color: white;
}
.details9{
    height: 40vh;
    background-color: white;
}
.details10{
    height: 40vh;
    background-color: white;
}
.details11{
    height: 40vh;
    background-color: white;
}
.details12{
    height: 40vh;
    background-color: white;
}
.details13{
    height: 40vh;
    background-color: white;
}
.details14{
    height: 40vh;
    background-color: white;
}
.details15{
    height: 40vh;
    background-color: white;
}
.details16{
    height: 40vh;
    background-color: white;
}
.details17{
    height: 40vh;
    background-color: white;
}
.details18{
    height: 40vh;
    background-color: white;
}
.details19{
    height: 40vh;
    background-color: white;
}
.details20{
    height: 40vh;
    background-color: white;
}


/* <button> */

.btn{
    margin-top: 5px;
    border: 1px solid;
    background-color: rgb(255, 255, 255);
    border-color: orange;
    padding: 5px;
    border-radius: 5px;
    color: orange;
    width: 100px;
    cursor: pointer;    
}
.btn:hover{
    color: white;
    background-color: orange;
    border: none;
    transition: 0.3s ease-in-out;
}

/* <footer> */

.footer{
    padding: 20px;
    background-color: black;
    height: 10vh;
}
.info p{
    margin: 30px;
    color: white;
    display: inline-flex;
}
.float-end{
    float: right;
}
.p{
    font-size: 15px;
}
@media only screen and (max-width: 1000px) {

    .main{
        margin-bottom: 1000px;
    }
    header{
        width: 1006px;
        height: 100px;
    }
    .navbar{
        margin-bottom: 50px;
        margin-top: 25px;
        margin-left: 0px;
    }
    .search{
        margin-left: 500px;
    }
    .content1{
        height: 100px;
        width: 100px;
    }
    .content2{
        height: 100px;
        width: 100px;
    }
    .content3{
        height: 100px;
        width: 100px;
    }
    .content4{
        height: 100px;
        width: 100px;
    }
    .content5{
        height: 100px;
        width: 100px;
    }
    .content6{
        height: 100px;
        width: 100px;
    }
    .content7{
        height: 100px;
        width: 100px;
    }
    .content8{
        height: 100px;
        width: 100px;
    }
    .content9{
        height: 100px;
        width: 100px;
    }
    .content10{
        height: 100px;
        width: 100px;
    }
    .content11{
        height: 100px;
        width: 100px;
    }
    .content12{
        height: 100px;
        width: 100px;
    }
    .content13{
        height: 100px;
        width: 100px;
    }
    .content14{
        height: 100px;
        width: 100px;
    }
    .content15{
        height: 100px;
        width: 100px;
    }
    .content16{
        height: 100px;
        width: 100px;
    }
    .content17{
        height: 100px;
        width: 100px;
    }
    .content18{
        height: 100px;
        width: 100px;
    }
    .content19{
        height: 100px;
        width: 100px;
    }
    .content20{
        height: 100px;
        width: 100px;
    }
    .details1{
        height: 170px;
        width: 100px;
    }
    .details2{
        height: 170px;
        width: 100px;
    }
    .details3{
        height: 170px;
        width: 100px;
    }
    .details4{
        height: 170px;
        width: 100px;
    }
    .details5{
        height: 170px;
        width: 100px;
    }
    .details6{
        height: 170px;
        width: 100px;
    }
    .details7{
        height: 170px;
        width: 100px;
    }
    .details8{
        height: 170px;
        width: 100px;
    }
    .details9{
        height: 170px;
        width: 100px;
    }
    .details10{
        height: 170px;
        width: 100px;
    }
    .details11{
        height: 170px;
        width: 100px;
    }
    .details12{
        height: 170px;
        width: 100px;
    }
    .details13{
        height: 170px;
        width: 100px;
    }
    .details14{
        height: 170px;
        width: 100px;
    }
    .details15{
        height: 170px;
        width: 100px;
    }
    .details16{
        height: 170px;
        width: 100px;
    }
    .details17{
        height: 170px;
        width: 100px;
    }
    .details18{
        height: 170px;
        width: 100px;
    }
    .details19{
        height: 170px;
        width: 100px;
    }
    .details20{
        height: 170px;
        width: 100px;
    }
    .p{
        font-size: 10px;
    }
    .btn{
        padding: 3px;
        width: 50px;
        font-size: 10px;
    }
    .footer{
        width: 965px;
        height: 100px;
    }
}